<div class="container">
  <div class="row">
    <div class="col-md-2">
      menu
    </div>
    <div class="col-md-10">
      container
    </div>
  </div>
</div>

<h1>
  {{title}}
</h1>
<div [(ngModel)]="model" ngbRadioGroup name="radioBasic">
  <label class="btn btn-primary">
    <input type="radio" [value]="1"> Left (pre-checked)
  </label>
  <label class="btn btn-primary">
    <input type="radio" value="middle"> Middle
  </label>
  <label class="btn btn-primary">
    <input type="radio" [value]="false"> Right
  </label>
</div>
<hr>
<pre>{{model}}</pre>
<md-grid-list cols="4" rowHeight="100px">
  <md-grid-tile
    *ngFor="let tile of tiles"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.background]="tile.color">
    {{tile.text}}
  </md-grid-tile>
</md-grid-list>
<div class="example-container">
  <h3>Normal Buttons</h3>
  <div class="button-row">
    <button md-button>Flat button</button>
    <button md-raised-button>Raised button</button>
    <button md-fab><md-icon>check</md-icon></button>
    <button md-mini-fab><md-icon>check</md-icon></button>
  </div>

  <h3>Link Buttons</h3>
  <div class="example-button-row">
    <a md-button routerLink=".">Flat button</a>
    <a md-raised-button routerLink=".">Raised button</a>
    <a md-fab routerLink="."><md-icon>check</md-icon></a>
    <a md-mini-fab routerLink="."><md-icon>check</md-icon></a>
  </div>
</div>
<div class="containerX">
  <div [fxLayout]="direction" (click)="toggleDirection()" class="colored box" >
    <div fxFlex="20">  fxFlex="20"  </div>
    <div fxFlex="60">  fxFlex="60"  </div>
    <div fxFlex >      fxFlex       </div>
  </div>
</div>
<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav">
    Jolly good!
  </md-sidenav>

  <div class="example-sidenav-content">
    <button md-button (click)="sidenav.open()">
      Open sidenav
    </button>
  </div>

</md-sidenav-container>
